.contact {
    text-decoration: underline;
}
html, 
body {
    height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info {
    font-size: clamp(1rem, 1rem + 2.5vw, 1.5rem);
}
/* INFO */
main img {
    height: 2rem;
    vertical-align: middle;
    margin-right: var(--default-padding);
}
/* MESSAGE */
#message-form {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}
input,
textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
}
input:invalid {
    border: 2px solid red;
}
#submit-button{
    font-size: large;
}
#submit-button:active{
    background-color: var(--secondary-color);
}