.contact {
    text-decoration: underline;
}
html, 
body {
    min-height: 100vh;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* CONTACT SECTION */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--primary-color);
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    margin: 0 0 calc(1rem + 2vw);
}
.contact-info {
    font-size: clamp(.5rem, 1rem + 0.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-info img {
    height: 2rem;
    vertical-align: middle;
    margin-right: var(--default-padding);
}
.contact-info a {
    text-decoration: none;
    color: black;
}
.map {
    width: 400px;
    height: 300px; 
    max-width: 95%;
    padding-left: 1rem;

}
/* MESSAGE SECTION*/
.message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#message-form {
    width: min(90%, 600px);
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
    margin: 0 0 calc(1rem + 2vw);
}
input,
textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
}
input:invalid {
    border: 2px solid red;
}
#submit-button{
    font-size: large;
}
#submit-button:active{
    background-color: var(--secondary-color);
}