.contact {
    font-weight: bold;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* INFO */
.contact-info > * {
    padding-bottom: var(--default-padding);
    text-decoration: none;
    color: black;
    max-width: fit-content;
} 
.contact-info{
    padding: var(--default-padding);
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}
img {
    height: 2rem;
    vertical-align: middle;
    margin-right: var(--default-padding);
}
main a:hover {
    color: var(--secondary-color);
    transition: color .2s;
}

/* MESSAGE */
.message {
    /* max-width: 350px; */
    padding: var(--default-padding);
}
.message-form {
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}
input,
textarea {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
}
input:invalid {
    border: 2px solid red;
}
#submit-button{
    font-size: large;
}
#submit-button:active{
    background-color: var(--secondary-color);
}

@media screen and (min-width: 1000px) {
    main{
        gap: 10rem;
    }
    .contact-info, .message {
        height: 400px;
        width: 400px;
        padding: var(--default-padding);
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    }

}
