.cv {
    text-decoration: underline;
}

/* ABOUT */
main{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.about {
    width: 100%;
    padding: 0 1rem calc(1rem + 2vw);
    border-bottom: 2px solid var(--primary-color);
}
.about p {
    max-width: 700px;
    line-height: 1.5;
    font-size: 1.25rem;
    margin: 0 auto;
}
.about h2 {
    text-align: center;
}

/* CARDS */
.education {
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: var(--default-padding);
}
.jobs {
    padding: 0 1rem calc(1rem + 2vw);
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding-bottom: var(--default-padding);
}
.card {
    background-color: white;
    padding: var(--default-padding);
    flex: 0 1 calc(50% - 1rem);
    max-width: 250px;
    aspect-ratio: 1/1.2;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 70%; 
}
.white-to-black{
    filter: invert(100%);
}
.color-to-black{
    filter: saturate(0%) brightness(70%) contrast(1000%);
}

dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: fit-content;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px black;
    padding: 1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}
dialog::backdrop {
    background: rgba(0, 0, 0, .5);
}
dialog img {
    width: 60%;
    max-width: 10rem;
}
dialog a:hover {
    scale: 1.05;
}
dialog p {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}
.material-icons.md-36 {
    font-size: 36px;
}