.home {
    text-decoration: underline;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* PROFILE */
.image-wrapper,
.text-wrapper {
    width: min(700px, 95%);
    overflow: hidden;  
}
.profile-picture {
    width: 100%;
    display: block;
    object-fit: cover;
    transition: .3s;
}
.author {
    font-style: italic;
    font-size: small;
}
.profile-text {
    font-size: clamp(.1rem, 5vw, 1.25rem);
    line-height: 1.5;
}
.profile-section {
    margin: calc(1em + 2vw) 0;
    padding: 0 .5rem calc(1rem + 2vw);
    border-bottom: 2px solid var(--primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--default-padding);
    justify-items: center;
}
.hidden-link {
    display: none;
}
/* PROJECTS */
.project-section {
    margin: calc(1em + 2vw) 0;
}
.wrapper {
    position: relative;
}
.media-scroller {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(50% - 1vw);
    gap: 2vw;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-behavior: smooth;
    scroll-snap-stop: normal;
    cursor: pointer;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.media-scroller:active {
    cursor: grab;
    scroll-behavior: smooth;
}
.media-scroller::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.carousel-button {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    height: 4rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black
}
.prev{
    display: none;
    left: 1rem
}
.next{
    display: none;
    right: 1rem;
}
.card {
    aspect-ratio: 1/1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.card-bg {
    height: 100%;
    width: 100%;
    opacity: 1;
    background: url('https://source.unsplash.com/featured/490x590');
}
.project-link{
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    padding: 3em;
    background: linear-gradient(var(--primary-color), white);
    color: white;
    padding: 0 var(--default-padding);
    border-radius: 5px;
    outline: 1px solid black;
}
.project-title {
    background-color: #000;
}
.card-content {
    font-size: clamp(.5rem, .5rem + 1vw, 2rem);
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    inset: 50% auto auto 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}