.home {
    text-decoration: underline;
}

/* PROFILE */
img {
    width: min(500px, 100%);
}
.profile-text {
    padding: var(--default-padding);
}
.author {
    text-align: center;
    font-style: italic;
    font-size: small;
}
.profile-section {
    padding-top: var(--default-padding);
    margin: auto;
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
}

/* PROJECTS */
.project-section {
    padding-top: var(--default-padding);
}
.project-section h2 {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}













.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(160px, 100%), 1fr));
    gap: var(--mobile-padding);
    padding: var(--default-padding) var(--mobile-padding);
    justify-items: center;
}
.card {
    aspect-ratio: 1/1.2;
    padding: var(--default-padding);
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    padding: 0 var(--default-padding);
    border-radius: 5px;
}
.tic-tac-toe {
    width: 60%;
}

@media screen and (min-width: 1000px) {
    /* PROFILE */
    .profile-section {
        max-width: 90%;
        border-bottom: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .profile-section p {
        max-height: 350px;
        overflow: scroll;
    }
    /* PROJECTS */

    .project-cards {
        gap: 2rem;
        margin: 1rem 2rem;
    }
    .card a:hover{
        background-color: white;
        color: black;
        box-shadow: var(--card-shadow);
        transition: all .2s;
    }
    .card a{
        width: 30%;
        padding: 0.5rem;
        text-align: center;
    }
}