/* UNIVERSAL STYLES AND SET-UP */
@font-face {
    font-family: "Gabarito";
    src: url();
}
:root{ 
    --primary-color: lightblue;
    --secondary-color: #0c2c776c;
    --text-color: white;
    --default-padding: 1rem;
    --mobile-padding: .25rem;
    --card-shadow: 0 0 3px rgba(0, 0, 0, 0.432)
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito';
    line-height: 1.2;
}
html,
body {
    min-height: 100vh;

}
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.white { color: white }

/* RE-USED STYLES */
.bannerStyle {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
    }
    &::before {
        background: white;
        z-index: -1;
        top: -1px;
        bottom: -1px;
        left: -1rem;
        right: -1rem;
    }
    &::after {
        background-color: var(--primary-color);
        height: 100%;
        width: 100vw;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -2;
    }
}
@media screen and (width > 1000px) {
    .hover-frame {
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 1.25rem;
            bottom: 1.25rem;
            left: 1.25rem;
            right: 1.25rem;
        }
        &::before {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            transform: scale(0, 1);
            transition: transform ease-out .25s;
        }
        &:hover::before {
            transform: scale(1.05, 1);
        }
        &::after{
            border-left: 1px solid white;
            border-right: 1px solid white;
            transform: scale(1, 0);
            transition: transform ease-out .25s;
        }
        &:hover::after {
            transform: scale(1, 1.05);
        }
    }
}
.banner {
    margin: calc(1rem + 2vw) 0;
    display: flex;
    justify-content: center;
}
.banner h2 {
    color: var(--primary-color);
    font-size: calc(1.5rem + 1vw);
    position: relative;
}

/* HEADER */
header {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}
.title{
    font-size: calc(2.5rem + 2vw);
    position: relative;
    color: var(--primary-color);
}

/* NAVIGATION MENU */
.navLinks {
    display: flex;
    justify-content: center;
}
.trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    outline: 0;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.full-screen-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .25s ease-out;
    display: none;
    z-index: 1;
}
.open-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .95);
    animation: fadeIn .25s ease-out forwards;
    z-index: 98;
}
ul {
    z-index: 99;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
ul li {
    list-style: none;
    text-align: center;
    transform: translateX(-1rem); /* För att centrera texten och inte hela a */
    margin-bottom: 2rem;
    animation: .25s ease-out animateList forwards;
}
ul li:last-child{
    margin-bottom: 0;
}
ul li a {
	text-decoration: none;
	color: #ccc;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.15s ease-in-out;
}
ul li a:hover,
ul li a i {
	color: var(--primary-color);
}
.inline-icon {
    vertical-align: middle;
    margin-right: 1rem;
}

/* KEYFRAMES */
@keyframes animateList {
   from {
    margin-top: -4rem;
    opacity: 0;
   } to {
    margin-top: 2rem;
    opacity: 1;
   }
}
@keyframes fadeIn {
    from {
        top: -100%;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}

/* MAIN */
main{
    height: 100%;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: center;
}
.footer-links img {
    height: calc(2rem + .5vw);
    width: auto;
}
.footer-links {
    width: 70%;
    padding: .5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}

/* UNIVERSAL MEDIA-QUERY FOR DESKTOP */
@media screen and (width >= 1000px) {
    .trigger:hover {
        scale: 1.1;
        box-shadow: 0 0 5px black;
        transition: all .2s;
    }
    .trigger:active {
        scale: 1;
        box-shadow: inset 0 0 5px black;
    }
    .card:hover {
        scale: 1.01;
        background-color: var(--secondary-color);
        box-shadow: var(--card-shadow);
        transition: all .2s;
    }
    footer img:hover{
        scale: 1.2;
        transition: scale .2s;
    }
    .footer-links {
        width: 50%;
    }
}