/* UNIVERSAL STYLES AND SET-UP */
@font-face {
    font-family: "Gabarito";
    src: url();
}
:root{ 
    --primary-color: lightblue;
    --secondary-color: #0c2c776c;
    --text-color: white;
    --default-padding: 1rem;
    --mobile-padding: .25rem;
    --card-shadow: 0 0 3px rgba(0, 0, 0, 0.432)
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito';
    line-height: 1.2;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.white { color: white }

/* RE-USED STYLES */
.bannerStyle {
    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
    }
    &::before {
        background: white;
        z-index: -1;
        inset: -1px -1rem;
    }
    &::after {
        background-color: var(--primary-color);
        height: 100%;
        width: 100vw;
        inset: 0 50% auto auto;
        transform: translateX(50%);
        z-index: -2;
    }
}
.banner {
    margin: calc(1rem + 2vw) 0;
    display: flex;
    justify-content: center;
}
.banner h2 {
    color: var(--primary-color);
    font-size: clamp(1rem, 1rem + 2.5vw, 3rem);
    position: relative;
}

/* HEADER */
header {
    margin: 1em 0;
    display: flex;
    justify-content: center;
}
.title{
    font-size: clamp(3rem, 1rem + 5vw, 6rem);
    position: relative;
    color: var(--primary-color);
}

/* NAVIGATION MENU */
.navLinks {
    display: flex;
    justify-content: center;
}
.trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    outline: 0;
    border: none;
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}
.full-screen-nav {
    position: fixed;
    inset: 0 0 0 0;
    transition: .25s ease-out;
    display: none;
    z-index: 1;
}
.open-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
.backdrop{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .95);
    animation: fadeIn .25s ease-out forwards;
    z-index: 98;
}
ul {
    z-index: 99;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}
ul li {
    list-style: none;
    text-align: center;
    transform: translateX(-1rem); /* För att centrera texten och inte hela a */
    margin-bottom: 2rem;
    animation: .25s ease-out animateList forwards;
}
ul li a {
	text-decoration: none;
	color: #ccc;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;
	transition: 0.15s ease-in-out;
}
ul li a:hover,
ul li a i {
	color: var(--primary-color);
}
.inline-icon {
    vertical-align: middle;
    margin-right: 1rem;
}
/* KEYFRAMES */
@keyframes animateList {
   from {
    margin-top: -4rem;
    opacity: 0;
   } to {
    margin-top: 2rem;
    opacity: 1;
   }
}
@keyframes fadeIn {
    from {
        top: -100%;
        opacity: 0;
    } to {
        top: 0;
        opacity: 1;
    }
}
/* FOOTER */
footer{
    display: flex;
    justify-content: center;
}
.footer-links img {
    height: calc(2rem + .5vw);
}
.footer-links {
    width: 70%;
    padding: .5rem;
    position: relative;
    display: flex;
    justify-content: space-between;
}